*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

body{
    background-image: url('../img/pokemon-cafe-tokyo-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card{
    width: fit-content;
    max-width: 100%;
}

.card:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.card-img-top {
    display: block;
    margin: 0 auto;
}

.btn:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  /* Ombre lors du survol */
  }
  
.btn:active {
    transform: scale(0.98);  /* Effet de réduction lors du clic */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Ombre plus petite lors du clic */
    transition: transform 0.1s ease, box-shadow 0.1s ease;  /* Animation douce */
}